@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
  margin: 0;
padding:0;
border:0;
outline:0;
box-sizing: border-box;
list-style: none;
text-decoration:none;
}

body{
    background-color: black;
}

.custom-seta{
    font-size: 55px;
    background-color: #333333;
    color: white;
    border-radius: 15px;
    border: solid white 3px;
    padding-inline: 5px;
}

.seta{
    background-color: #333333;
    padding-inline: 20px;
    padding-block: 20px;
    border-radius: 15px;
    position: absolute;
    position: fixed;
    right: 20px;
    bottom: 20px;
    
}

.corpo{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.custom-icon{
    font-size: 30px;
}

.conteiner {
    max-width: 1280px;
    margin: auto;
  }
  
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .flex img{
    width: 250px;
    height: 100px;
  }
  
  header {
    width: 100%;
    padding: 0 4%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    background-color: rgba(0, 0, 0);
    backdrop-filter: blur(5px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    font-family: 'Cinzel', sans-serif;  
  }
  
  header i {
    font-size: 30px;
    color: white;
  }
  
  header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li {
    display: inline-block;
    margin: 0 40px;
  }
  
  header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  header ul li a:hover {
  color: #6F4545; /* Cor de destaque ao passar o mouse */
  }
  
.info1{
    background: url("../imgs/relogios/FotoRelogio.png") center center/cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    margin: 36px 36px 0 36px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 103px;
    font-family: 'Cinzel', sans-serif;   
    width: 100%;
    height: 900px;
    position: relative;
}

.texto-info1{
    position: absolute;
    font-weight: bold;
    font-size: 86px;
    top: 5%;
    left: 50%;
}

.texto2-info1{
    position: absolute;
    font-size: 115px;
    font-weight: bold;
    color: #2600FF;
    right: 12%;
    top: 35%;
    text-shadow: 0 0 55px rgba(255, 255, 255, 0.685);  
}

.texto2-info1 span{
    color: white;
    text-decoration: line-through;
}

.texto3-info1{
    position: absolute;
    right: 20%;
    top: 55%;
}

.texto3-info1 a{
    background-color: #8687D2;
    font-size: 35px;
    padding: 20px 55px;
    border-radius: 60px;
    color: white;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    border: solid black 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.texto3-info1 a:hover{
    box-shadow: 0 0 26px rgb(255, 255, 255);
    border: solid white 0.2px;
}

.preço{
    color: white;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.nome1{
    font-size: 110px;
    color: #22117D;
    text-shadow: 0 0 25px rgba(38, 0, 255, 0.685);
}

.nome2{
    font-size: 110px;
    color: #22117D;
    margin-left: 100px;
    text-shadow: 0 0 25px rgba(38, 0, 255, 0.685);  
}

.produtos{
    color: #727272;
    font-size: 26px;
    padding: 38px;
}

.info2 img{
    width: 580px;
    height: 727px;
}

.info2 div{ 
    text-align: center;
}

.info3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 100px;
}

.info3 img{
    width: 580px;
    height: 727px;
}

.info3 div{ 
    text-align: center;
    margin-bottom: 100px;
}

.info2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 20px;
    justify-items: center;
}

.produto p{
    font-family: "Playfair", serif;
    font-size: 25px;
    font-weight: bold;
}

.produto{
    color: black;
    border-radius: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0,);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: auto;
}

.produto:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.roupas{
    background-color: white;
}

.info4{
    background-color: rgb(0, 0, 0);
    display: flex;
}

.relogio-info4 > img{
    display: flex;
    position: absolute;
    width: 680px;
    height: 620px; 
    left: 4%;
}

.texto-info4 > img{
    display: flex;
    position: absolute;
    left: 50%;
    top: 320%;
    width: 680px;
    height: 200px;
}

.texto2-info4{
    display: flex;
    position: absolute;
    left: 65%;
    top: 345%;
    font-size: 110px;
    color: #8B4D2B;
}   

.texto3-info4{
    display: flex;
    position: absolute;
    left: 43%;
    top: 360%;
    font-weight: bold;
    font-size: 110px;
    color: #FF0000;
    font-family: 'Cinzel Decorative', serif;
}

/* Rodapé */
footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: black;
  margin-top: 600px;
}

footer h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
  font-family: 'Cinzel', serif;
}

footer a {
  display: block;
  color: white;
  font-size: 15px;
  margin: 5px 0;
  font-family: 'Playfair', sans-serif;
  margin-bottom: 15px;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  font-size: 15px;
  color: white;
  font-family: 'Playfair', sans-serif;
  margin-bottom: 15px; /* Espaçamento pequeno entre os parágrafos */
}

.redes {
  font-size: 30px;  
  display: flex; /* Certifique-se de que o container de ícones esteja em flex */
  gap: 20px; /* Ajuste a distância entre os ícones */
  transform: translate(15px, 5%);
}

.redes i {
  font-size: 30px; /* Ajuste o tamanho dos ícones */
}


.inscreva-se input {
  width: 100%;
  padding: 18px;
  font-size: 20px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #1a1a1a;
  color: #fff;
}
