@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
  margin: 0;
padding:0;
border:0;
outline:0;
box-sizing: border-box;
list-style: none;
text-decoration:none;
font-family: 'Cinzel', sans-serif;
}



.custom-icon{
    font-size: 40px;
    margin-right: 35px;
}

.custom-icon3{
    font-size: 120px;
}

.custom-icon2{
    font-size: 140px;
    margin-right: 35px;
}

header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    height: 103px;
    position: fixed;
    top: 0;
    min-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    transition: top 0.6s ease-in-out;
}

header img{
    width: 250px;
    height: 100px;
}

header a{
    color: white;
    font-size: 26px;
}

header span a{
    color: #6F4545;
}

.bg1{
    display: flex;

}

.info1{
    background-color: rgb(255, 255, 255, 0.7);
    position: absolute;
    width: 1920px;
    margin-top: 315.5px;
    margin-left: auto;
    margin-right: auto;
    height: 449px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoimg1{
    border-radius: 102px;
    margin-left: 52px;
    margin-right: 35px;
}

.infoimg2{
    border-radius: 102px;
    margin-right: 40px;
}

.titulo-info1{
    font-size: 74px;
    font-weight: bolder;
    text-align: center;
}

.texto-info1{
    margin-top: 25px;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

.info2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 235px;
    margin-left: auto;
    margin-right: auto;
}

.titulo-info2{
    color: #492613;
    font-size: 24px;
    font-weight: bold;
}

.texto-info2{
    font-weight: bold;
    font-size: 20px;
}

.textos-info2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.info3{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.85);
    width: 1920px;
    height: 373px;
    position: absolute;
    margin-top: 315.5px;
    margin-left: auto;
    margin-right: auto;
}

.imgs-info3 > img{
    width: 320px;
    height: 320px;
    border-radius: 10px;
    margin-inline: 19px;
}

.titulo-info3{
    font-size: 110px;
    color: #F37A11;
    font-weight: bold;
}

.texto-info3{
    font-size: 90px;
    color: #EB7F03;
    font-weight: bold;
}

.textos-info3{
    margin-left: 71.92px;
    margin-right: 180px;
}

.textos-info3 .texto-info3{
    float: right;
}

.bg4{
    background-color: rgb(255, 255, 255);
    height: 234px;
    background-size: cover;
    background-position: center;
}

.info4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 234px;
    margin-left: auto;
    margin-right: auto;
}

.titulo-info4{
    color: #F37A11;
    font-size: 35px;
    font-weight: bold;
    width: 428px;
}

.texto-info4{
    font-size: 25px;    
    font-weight: bold;
    color: #6F4545;
    float: right;
    width: 428px;
}

.textos-info4{
    display: flex;
    align-items: center;
}

.textos-info4 p{
    margin-left: 47.54px;
}

.texto-info4_5{
    font-size: 21px;
    font-weight: bold;
    color: #6F4545;
    width: 768px;
}

.bg5 {
    position: relative; 
}

.bg5 img.fundo3 {
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    height: 1080px;
}

.info5 {
    position: relative;
    z-index: 2;
}

.info5{
    z-index: 99;
}

.titulo-info5{
    font-size: 86px;
    color: #492613;
    font-weight: bold;
}

.texto-info5{
    font-size: 79px;
    font-weight: bold;
    color: #FFA366;
    margin-bottom: 94px;
}

.textos-info5{
    width: 659px;
    height: 202px;
    padding-top: 244px;
    margin-left: 100px;
}

.textos-info5 > a{
    font-size: 28px;
    color: white;
    background-color: rgb(240, 177, 137, 0.59);
    font-weight: bolder;
    padding: 16px 20px;
    border-radius: 34px;
    margin-left: 123px;
}

.texto-info6{
    color: #311A0E;
    font-size: 23px;
    font-weight: bold;
}

.info6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.72);
    height: 65px;
    z-index: 99;
}

.bg6{
    padding-top: 770px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78px;
    background-color: black;
    color: white;
    font-size: 23px;
    margin-left: auto;
    margin-right: auto;
}